* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  min-height: 100vh;
  width: 100%;
  background-color: #191a2b;
  padding: 5% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-title h2 {
  color: #fff;
  font-size: 4rem;
  letter-spacing: 4px;
  background-color: rgb(4, 52, 83);
   background: linear-gradient(
    8deg,
    rgba(4, 52, 83) 0%,
    rgba(0, 230, 173, 1) 41%,
    rgba(41, 17, 45, 1) 100%
  );
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 

  position: relative;
}
.service-title h2::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 10%;
  height: 8px;
  width: 80%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
}
.service-title h2 span {
  position: absolute;
  top: 100%;
  left: 10%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #72e2ae;
  animation: anim 5s linear infinite;
}
@keyframes anim {
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 88%;
  }
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 80px;
}
.single-services {
  height: 350px;
  width: 370px;
  background-color: #1c2335;
  padding: 3% 8%;
  border: 0.2px solid rgb(114, 226, 174, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.single-services::after {
  content: '';
  position: absolute;
  top: 150%;
  left: -200px;
  width: 120%;
  transform: rotate(50deg);
  background-color: #fff;
  height: 18px;
  filter: blur(30px);
  opacity: 0.5;
  transition: 1s;
}
.single-services:hover::after {
  width: 225%;
  top: -100%;
}
.single-services i {
  color: #72e2ae;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 4.8rem;
}
.single-services h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.single-services p {
  text-align: center;
  width: 100%;
  margin: 12px 0;
  color: rgba(255, 255, 255, 0.06);
}
.single-services:hover {
  background-color: transparent;
  transform: translateY(-8px);
  border-color: #00ff37;
}
.single-services:hover i {
  color: #00ff37;
}
/* responsive */
@media screen and (max-width: 1200px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .services {
    grid-template-columns: repeat(1, 1fr);
  }
  h1 {
    font-size: 3rem;
  }
}
