* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
  text-decoration: none;
}
body {
  /* overflow: hidden; */
}
.services {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 8%;
  color: #fff;
  background-color: #000;
  overflow: hidden;
  position: relative;
}
.content {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  margin: 5rem 0;
  /* overflow: hidden; */
}
.content h1 {
  font-size: 3.5rem;
  line-height: 3.7rem;
  letter-spacing: 1px;
  width: 50%;
}
.content p {
  width: 50%;
}
.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* overflow: hidden; */
}
.cards {
  height: 220px;
  width: 370px;
  border: 2px solid rgba(255, 255, 255, 0.899);
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  padding: 3rem 8%;
  position: relative;
  z-index: 1;
  background-color: transparent;
  overflow: hidden;
  transition: 0.6s;
}
.cards::after {
  content: '';
  height: 40%;
  width: 8%;
  border-radius: 28px;
  top: 30%;
  right: -4%;
  background-color: #fff;
  position: absolute;
  transition: 0.6s;
  z-index: -1;
}
.cards:hover {
  color: #000;
}
.cards:hover::after {
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
}
.cards h2 {
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-bottom: 16px;
  text-transform: capitalize;
}
.cards ul li {
  margin-right: 12px;
}
.cards ul li {
  margin-left: 8px;
}
.circle {
  height: 750px;
  width: 750px;
  border: 150px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 48%;
  left: 80%;
  border-radius: 50%;
  /* overflow: hidden; */
}
@media (max-width: 1200px) {
 
  .content {
    flex-direction: column;
    align-items: center;
  }
  .content h1 {
    width: 100%;
  }
  .content p {
    width: 100%;
    margin-top: 40px;
  }

  .card {
    grid-template-columns: repeat(2, 1fr);
    /* background-color: maroon; */
  }
  .circle {
    display: none;
  }
}
@media (max-width: 992px) {
   .services{
    overflow-x: hidden;
   }
  .card {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
  }
}
